/**
 * Styles for the public front-end
 *
 * This file contains CSS.
 *
 * @link        https://github.com/dotherightthing/wpdtrt-exif
 * @since       0.1.0
 *
 * @package     WPDTRT_EXIF
 * @subpackage  WPDTRT_EXIF/css
 */

.wpdtrt-exif-blocks {
  counter-reset: blocks;
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  font-size: .9em;
  padding: 8px 0 0 8px;
  margin-bottom: 8px;
}

.wpdtrt-exif-blocks::before {
  content: attr(data-number) " blocks";
  display: block;
  padding-bottom: 8px;
}

.wpdtrt-exif-blocks[data-number="1"]::before {
  content: attr(data-number) " block";
}

.wpdtrt-exif-blocks::after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.wpdtrt-exif-blocks ul,
.wpdtrt-exif-blocks li {
  list-style: none;
}

.wpdtrt-exif-blocks li {
  position: relative;
  float: left;
  margin: 0 8px 8px 0;
  height: 150px;
  width: 150px;
}

.widget .wpdtrt-exif-blocks ul li {
  padding: 0;
  border: 0;
}

.widget .wpdtrt-exif-blocks ul li + li {
  margin-top: 0; /* reset */
}

.wpdtrt-exif-blocks li > a::before {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  background-color: #000;
  content: "+";
  padding: 8px;
}

.wpdtrt-exif-blocks li img {
  width: 150px;
  height: 150px;
}
