//
// Extends (helpers)
// Common extends should be added tp wpdtrt-plugin-boilerplate's copy of this file
//
// @package     WPDTRT_Exif
// @version 	0.0.1
// @since       0.7.6 DTRT WordPress Plugin Boilerplate Generator
//
