//
// Variables
//
// @package     WPDTRT_Exif
// @version 	0.0.1
// @since       0.7.6 DTRT WordPress Plugin Boilerplate Generator
//

@import 'node_modules/include-media/dist/include-media';

// -------------------------------------------------------------------
// Breakpoints
// -------------------------------------------------------------------

// $breakpoints for include-media
// Usage: @include media(">phone", "<=tablet") { ... }
// Usage: @include media("<=1150px") { ... }
// See https://include-media.com/

$breakpoints: (
    phone: 320px,
    phone_large: 400px,
    tablet_small: 550px,
    tablet: 710px,
    desktop: 910px
);

// -------------------------------------------------------------------
// Colors
// http://hex2rgba.devoth.com/
// -------------------------------------------------------------------

$wpdtrt-exif-demo-color: rgba(0, 0, 0, 1);
