//
// Styles for the public front-end
//
// @package     WPDTRT_Exif
// @version 	0.0.1
// @since       0.7.5 DTRT WordPress Plugin Boilerplate Generator
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'variables/scss';
@import 'extends';

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

// -------------------------------------------------------------------
// Media Queries
// -------------------------------------------------------------------
